header {
  padding: 18px 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  .wrapper {
    @include flexbox();
    @include justify-content(space-between);

    @at-root
    .dropdown-menu { display: none; }

    @at-root 
    h1 { 
      display: flex;
      @include align-items(center);
      flex: 1;
      
      a {
        color: $white;
        text-transform: $uppercase;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }

    @at-root 
    .nav { 
      flex: 3;

      @include breakpoints(tablet) {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 100%;
        z-index: 2;
        left: 100%;
        @include transition-effect();
      }

      &.active { 
        left: 0; 
      }

      @at-root
      .navlinks {
        height: 100%;
        @include flexbox();
        @include justify-content(flex-end);
        @include align-items(center);

        @include breakpoints(tablet) { 
          max-height: calc(100% - 50px);
          min-height: 100vh;
          @include flex-direction(column);
          @include justify-content(space-around);
          background-color: $black;
          overflow-y: auto;
        }

        li { 
          padding: 0 20px;

          @include breakpoints(ipad-mini) { padding: 0 12px; }

          &:last-child { padding-right: 0; }
        }
        
        a {
          color: $white;
          font-size: 13px;
          text-transform: $uppercase;

          @include breakpoints(ipad-mini) { font-size: 12px; }

          &:hover { @include hover-effects() { opacity: .5; } }

          &.active { opacity: .5; }
        }

        @at-root 
        .dropdown { 
          position: relative; 
          
          &::after { 
            @include font-icons($white, 10px) {
              content: "\f107";
              position: absolute;
              top: 5px;
              right: .8%;
              cursor: pointer;
            }
          }

          &:hover .dropdown-menu{
            @include hover-effects() {  
              display: block;
              position: absolute;
              top: 15px;
              left: 0;
            }
          }
            
          @at-root
          .dropdown-menu {
            a { 
              padding: 12px 16px;
              text-decoration: none;
              display: block;
            }
            @include breakpoints(tablet) {
              position: unset;
              li { display: block; }
            }
          }
        }

        .search { 
          height: 40px;
          width: 40px;
          position: relative;
          background-color: $white;
          text-indent: $indent; 
        
          &::after {
            @include font-icons($primary-color, 15px) {
              content: "\f002";
              position: absolute;
              top: 34%;
              right: 34%;
            }
          }
        }
      }
    }
  }
}