//colors
$primary-color: #59ab6d;
$background-color: #212934;
$footer-bg: #1d242e;
$white: #fff;
$black: #000;
$icon-color: #cfd6e1;
$icon-superbg: #e9eef5;
$arrow-color: #a3cdae;
$section-bg: #e9eef5;
$banner-bg: #efefef;
$header-txt-color: #cfd6e1; 
$txt-color: #212529;
$border-color: #dee2e6;

$indent: -9999px;

//breakpoints
$devices: (
  desktop: 1280px,
  ipad-pro: 1024px,
  ipad-mini: 995px,
  tablet: 768px,
  mobile: 540px,
  mobile-small: 480px,
);