//colors
$primary-color: #59ab6d;
$background-color: #212934;
$footer-bg: #1d242e;
$white: #fff;
$icon-color: #cfd6e1;
$icon-superbg: #e9eef5;
$arrow-color: #a3cdae;
$section-bg: #e9eef5;
$txt-color: #212529;

$indent: -9999px;