//hamburger
.hamburger { 
  @include desktops() { display: none; }
  
  &.active { display: block; }
  &.active .bar:nth-child(2) { opacity: 0;}
  &.active .bar:nth-child(1) { @include transformRotate(45, translate(0, 8px)); }
  &.active .bar:nth-child(3) { @include transformRotate(-45, translate(0, -8px)); }
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background-color: $primary-color;
  text-indent: $indent;
  transition: all 0.3s ease-in-out;
}

//go shop btn
.go-btn {
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $primary-color;
  color: $white;
  font-weight: 700;

  &:hover { @include hover-effects($primary-color) {
    background-color: $background-color;
  } }
}